<header class="site-header">

  <video autoplay="" loop="" id="bgvid">
    <source src="/assets/kitchensign.mp4" type="video/mp4">
  </video>

  <div class="videohue"></div>

  <div class="left-panel">

    <div class="title">

      <h1>THE<br>STARVING ARTISANS<br>SOUP KITCHEN</h1>

    </div>

    <div class="description">

      <div class="subtitle">
        <h3>Share a creative meal with hungry people like you</h3>
      </div>

      <div class="question">
        <p>At each Starving ASK we bring together artists &amp; entrepreneurs, performers &amp; engineers, insatiable novices &amp; inspired masters of their craft.</p>
      </div>

      <div class="come-ready">
        <p>All we ask is that you come ready to eat some uncommonly good soup.</p>
      </div>

    </div>

    <div class="call-to-action">
      <div class="buttons-wrapper">
        <div class="button-container">
          <a href="#" class="btn"><span>I want this</span></a>
        </div>
        <!--<div class="want-button">
          <p>I want this</p>
        </div>-->

        <div class="button-container">
          <a href="https://cash.me/$theStarvingASK" class="btn"><span>Give to ASK</span></a>
        </div>

        <!--<a href="https://cash.me/$theStarvingASK">
          <div class="cashtag-button">
            <p>Give to ASK</p>
          </div>
        </a>-->
      </div>

    </div>

  </div>

</header>
